{{#section 'title'}}Quên mật khẩu{{/section}}

<section class="sign-in-page">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6 col-sm-12 col-12 ">
            <div class="sign-user_card ">
                <div class="d-flex justify-content-center">
                  <div class="sign-user_logo">
                      <img src="/images/login/user.png" class=" img-fluid" alt="Logo">
                  </div>
                </div>
                <div class="sign-in-page-data">
                  <div class="sign-in-from w-100 m-auto pt-5">
                      <h1 class="mb-0">Quên mật khẩu</h1>
                      
                      {{#if error}}
                      <div class="alert text-white bg-primary" role="alert">
                        <div class="iq-alert-text">{{error}}</div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="ri-close-line"></i>
                        </button>
                      </div>
                      {{/if}}

                      <p class="text-white">Nhập email của bạn để chúng tôi gửi 1 email tới hướng dẫn bạn lấy lại mật khẩu</p>
                      <form method="post" id="reset" class="mt-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Địa chị Email</label>
                            <input name="email" type="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="d-inline-block w-100">
                            <button form="reset" class="btn btn-primary float-right">Quên mật khẩu</button>
                        </div>
                      </form>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</section>