<link rel="stylesheet" href="/public/css/register.css">

{{#if Success}}
  <h1><span id="success">Tạo tài khoản thành công, vui lòng check gmail: {{Email}} để kích hoạt tài khoản</span></h1>
{{/if}}
<form action="register" method="POST" id="formRegister">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="Email" id="Email" required>
      <p id="errEmail"></p>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="Username" id="Username" required>
      <p id="errUS"></p>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Password" id="psw" required>
  
      <label for="birthday"><b>Birthday </b></label>
      <input type="date" id="birthday" name="Birthday" value="2000-12-15">
      <hr>
      <fieldset data-role="controlgroup">
      <legend><label><b>Choose your gender:</b></label></legend>
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" value="male" checked>
        <label for="female">Female</label>
        <input type="radio" name="gender" id="female" value="female">
      </fieldset>
      <hr>
      <button type="submit" class="registerbtn" onclick="check()">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
</form>

<script>
  function check()
  {
      document.getElementById("errEmail").innerHTML = "";
      document.getElementById("errUS").innerHTML = "";
      document.getElementById("success").innerHTML = "";
  }
  $('#formRegister').on('submit', function (e) {
    e.preventDefault();
    var email =  $("#Email").val();
    var username = $("#Username").val();
    var data = {Email: email, Username: username};
    data = JSON.stringify({data});
    $.ajax({
    url: "/checkInfo",
    type: "POST",
    data: "Data=" + data,
    success: function (data) {  
      if (data.Exist){
        if (data.err == 0){
          document.getElementById("errEmail").innerHTML = "Email này đã tồn tại";
        }
        else
        {
          document.getElementById("errUS").innerHTML = "Username này đã tồn tại";
        }
      }
      else
      {
        $('#formRegister').off('submit').submit();
      }
    }
    });
  });
</script
