{{#section 'title'}}TIEU DE{{/section}}

<section class="sign-in-page">
    <div class="container">
    <div class="row justify-content-center align-items-center height-self-center">
        <div class="col-md-6 col-sm-12 col-12 align-self-center">
            <div class="sign-user_card ">
                <div class="d-flex justify-content-center">
                <div class="sign-user_logo">
                    <img src="images/login/user.png" class=" img-fluid" alt="Logo">
                </div>
                </div>
                <div class="sign-in-page-data">
                <div class="sign-in-from w-100 m-auto pt-5">
                    <h1 class="mb-3 text-center">Sign Up</h1>
                    <form class="mt-4">
                        <div class="form-group">
                            <label for="exampleInputEmail2">Your Full Name</label>
                            <input type="email" class="form-control mb-0" id="exampleInputEmail2" placeholder="Your Full Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control mb-0" id="exampleInputEmail3" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control mb-0" id="exampleInputPassword2" placeholder="Password">
                        </div>
                        <div class="d-inline-block w-100">
                            <div class="custom-control custom-checkbox d-inline-block mt-2">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">I accept <a href="#">Terms and Conditions</a></label>
                            </div>
                        </div>
                        <div class="sign-info mt-3">
                            <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
                            <span class="d-block line-height-2">Already Have Account ? <a href="sign-in.html">Log In</a></span>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>