<link rel="stylesheet" href="/public/css/register.css">

<form action="register" method="POST" id="formRegister">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="Email" id="email" required>
      
      <p></p>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="Username" id="Username" required>
      <p id="err"></p>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Password" id="psw" required>
  
      <label for="birthday"><b>Birthday </b></label>
      <input type="date" id="birthday" name="Birthday" value="2000-12-15">
      <hr>
      <fieldset data-role="controlgroup">
      <legend><label><b>Choose your gender:</b></label></legend>
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male" value="male" checked>
        <label for="female">Female</label>
        <input type="radio" name="gender" id="female" value="female">
      </fieldset>
      <hr>
      <button type="submit" class="registerbtn" onclick="check()">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
</form>

<script>
  function check()
  {
      document.getElementById("err").innerHTML = "";
  }
  $('#formRegister').on('submit', function (e) {
    e.preventDefault();
    var username = $("#Username").val();    
    $.ajax({
    url: "/checkUsername",
    type: "POST",
    data: "username=" + username,
    success: function (data) {  
      if (data){
        document.getElementById("err").innerHTML = "Username đã tồn tại";
      }
      else
      {
        $('#formRegister').off('submit').submit();
      }
    }
    });
  });
</script
