Form reset password
<hr>
{{#if error}}<p style="color: red;">{{error}}</p>{{/if}}
<form method="post" onsubmit="onSubmit(event)">
    <label for="p1">Nhap password</label>
    <input type="password" required name="p1" id="p1">
    
    <label for="p2">Nhap lai password</label>
    <input type="password" required name="p2" id="p2">
    
    <input type="submit" value="Cai lai mat khau">
</form>