{{#section 'title'}}Add category{{/section}}

<div id="msg" class="col-12 mb-3">
    
</div>
    <div class="col-lg-9">
        <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    <h4 class="card-title">Add category</h4>
                </div>
            </div>
            <div class="iq-card-body">
                <div class="new-user-info">
                    <form action="/category/{{#if isEdit}}edit{{else}}add{{/if}}" method="POST">
                        <div class="row">
                            {{#if isEdit}}
                            <div class="form-group col-md-12">
                                <label for="categoryId">Category ID:</label>
                                <input type="text" class="form-control" name="categoryId" value="{{currentCategory.ID}}" readonly="true">  
                            </div>
                            {{/if}}
                            <div class="form-group col-md-12">
                                <label for="fname">Category name:</label>
                                <input type="text" class="form-control" name="name" id="fname" placeholder="Name" value="{{currentCategory.Name}}"required>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="lname">Category description:</label>
                                <input type="text" class="form-control" name="description" id="description" value="{{currentCategory.description}}"placeholder="description...">
                            </div>
                        </div>
                        <hr>
                        <button id="btnSubmit" type="submit" class="btn btn-primary" onclick="success()">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{#section 'js'}}
    <script>
        function success(){
            alert('Added successfully!');
        }
        
    </script>
    {{/section}}